# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle wrapper files (created with a task)
gradle

# Ignore Gradle build output directory
build

#Ignore gradle.properties
gradle.properties

# Ignore IDE directory
.vscode

